#retailer_logo {
  width: 150px;
  height: 120px;
  border: 1px solid #f4f4f4;
  padding: 10px;
}

.barcode_container {
  text-align: center;
  padding: 20px;
}

.product_img {
  text-align: center;
  border: 1px solid #f0eff0;
  padding: 10px;
}

.table-cart {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .table-cart {
    overflow-x: auto;
    margin: 0;
  }
}

.table-cart > table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-collapse: collapse;
}

@media only screen and (max-width: 1179px) {
  .table-cart > table {
    width: 1179px;
    overflow: hidden;
    max-width: none;
  }
}

.table-cart > table > thead {
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid #e9e9e9;
}

.table-cart > table > thead tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-cart > table > thead tr th {
  font-size: 14px;
  font-weight: 500;
  color: #323332;
  line-height: 1.2;
  white-space: nowrap;
  padding: 15px 0;
  margin: 0 20px;
  width: 15%;
  text-align: center;
  border-bottom: none;
}

.table-cart > table > thead tr th.itemRemove {
  width: 50px;
  margin: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 15px;
}

@media only screen and (max-width: 991px) {
  .table-cart > table > thead tr th.itemRemove {
    width: 30px;
    margin-left: 10px;
  }
}

.table-cart > table > thead tr th.itemImage {
  width: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 991px) {
  .table-cart > table > thead tr th.itemImage {
    width: 60px;
  }
}

.table-cart > table > thead tr th.itemName {
  max-width: none;
  text-align: left;
  width: 25%;
}

.table-cart > table > tbody {
  width: 100%;
}

.table-cart > table > tbody > tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 140px;
}

.table-cart > table > tbody > tr > td {
  border-top: none;
  font-size: 14px;
  font-weight: 500;
  color: #323332;
  line-height: 1.2;
  overflow: hidden;
  padding: 15px 0;
  margin: 0 20px;
  width: 15%;
  text-align: center;
}

.table-cart > table > tbody > tr > td.itemRemove {
  text-align: center;
  width: 50px;
  margin: 0;
  margin-left: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 991px) {
  .table-cart > table > tbody > tr > td.itemRemove {
    width: 30px;
    margin-left: 10px;
  }
}

.table-cart > table > tbody > tr > td.itemImage {
  width: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 991px) {
  .table-cart > table > tbody > tr > td.itemImage {
    width: 60px;
  }
}

.table-cart > table > tbody > tr > td.itemName {
  text-align: left;
  max-width: none;
  width: 25%;
}

.table-cart > table > tbody > tr.totalBill {
  border-top: 1px solid #e9e9e9;
  padding-top: 10px;
  min-height: 100px;
}

.table-cart > table > tbody > tr.totalBill table {
  width: 100%;
}

.table-cart > table > tbody > tr.totalBill table tr {
  height: 30px;
}

.table-cart > table > tbody > tr.totalBill table tr td {
  text-align: right;
}

.table-cart > table > tbody > tr.totalBill table tr:last-child {
  border-top: 1px dashed grey;
}

@media only screen and (max-width: 767px) {
  .form-wizard .tab-content {
    margin: 0 15px;
    margin-top: 35px;
  }
}

.ms-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ms-container .ms-list {
  height: 350px;
}

#table-selected img {
  height: 50px;
}

