@font-face {
	font-family: 'StarJedi';
	src:url('../fonts/Starjedi.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.stjd {
	font-family: 'StarJedi';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
